@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.mainPage{
    flex-grow: 1;
}
.colorPrincipal{
    background: #003c25;;
}
.colorPrincipal2{
    color: #003c25;
}
.boton{
    color: #003c25;
}
#bannerInicio{
    height: 495px;
    width: 100%;
}
.imagenCard{
    object-fit: cover;
    width: 250;
    height: 200px;
}
.cardBody{
    display: flex;
    flex-direction: column;
}
.cardText{
    flex-grow: 1;
}